* {
    font-family: "Noto Sans Georgian", sans-serif;
}

body {
    /* background-color: #F1F3F6;
    padding: 500px; */
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.item {
    width: 250px;
    height: 340px; 
    margin-top: 20px;
    color: black; 
    border-radius: 15px; 
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease; 
    overflow: hidden; 
    background-color: white;
}

.checkIcon {
    color: #4CAF50; 
    margin-right: 5px;
    vertical-align: middle;
}

.crossIcon {
    color: red;
    margin-right: 5px;
    vertical-align: middle;
}

.item:hover {
    border-color: gray; 
    transform: translateY(-5px);
}

.imager {
    position: relative;
}

.serialnumber {
    font-size: 12px;
    position: absolute;
    left: 24px;
}

.imager img {
    width: 100%; 
    height: auto;
    max-width: 250px; 
    max-height: 180px;
    object-fit: cover; 
}

.additional {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    bottom: 10px; 
    opacity: 1;
    left: 0; 
}
.filterIcon {
    font-size: 20px; /* Adjust size as needed */
    color: #fff; /* Change color as needed */
    cursor: pointer;
    transition: color 0.3s ease;
}

.name {
    margin-top: 7px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    color: #666666;
}

.price {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    border-bottom: 2px solid gray; 
    padding-bottom: 5px; 
}

.newLabel {
    background-color: #be3448; 
    color: white; 
    border-radius: 5px;
    padding: 1px 5px;
    left: 8px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    font-size: 12px;
}

.shoppingCart{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:62px;
    right: 290px;
    font-size: 25px;
    transition: color 0.3s ease, transform 0.3s ease; 
}
.shoppingCart:hover{
    color:blue;
}
.cartMenu{
    position:absolute
}
.actionsContainer {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#28282d ;
    gap: 20px; 
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.dropdown {
    position: relative;
    padding: 5px; 
    border-radius: 5px; 
}

.dropdownButton {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #f9f9f900;
    color: white;
    cursor: pointer;
    border: none;
    transition: border-color 0.3s ease;
}

.dropdownMenu {
    position: absolute;
    top: 105%;
    right: -2%;
    background-color: #292929;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 180px;
    padding: 10px 15px;
    border-radius: 5px;
    border-top: 2px solid rgb(209, 54, 57);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0s 0.3s; 
}

.dropdownMenu.show {
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.3s ease; 
}

.dropdownMenu li {
    list-style: none;
}

.dropdownMenu li a {
    color: #c7c7c7;
    padding: 8px 0;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.dropdownMenu li a:hover {
    border-radius: 10px;
    color: #d1363a;
}

.dropdown:hover .dropdownMenu {
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.8s ease; 
}

.cartIcon {
    font-size: 29px; 
    color: white; 
    background-color: gray; 
    border-radius: 10%; 
    padding: 5px;
    position: absolute;
    left: 200px;
    top: 10px;
}

.stockStatus {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    position: absolute; 
    left: 20px;
    top: 270px; 
}
.inStock {
    color: #4CAF50;
}

.outOfStock {
    color: red; 
}
.date {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    position: absolute; 
    left: 20px; 
    top: 300px; 
}
.content {
    display: flex;
    width: 100%;
}
.sidebar {
    margin-top: 80px;
    width: 200px; 
    padding: 4px 60px; 
    flex-shrink: 0; 
    background: white;
    border-radius: 10px;
    color: black; 
    height: 60%;
}
.sidebarTitle {
    font-size: 18px;
    font-style: bolder;
    font-weight: 900;
    border-bottom: 2px solid gray;
    padding-bottom: 12px; 
    margin-bottom: 11px; 
}

.filtero{
    margin-bottom: 10px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    padding: 5px;
    text-align: left;
}

.categoryList {
    gap: 10px;
}

.filterwrapper{
    display: flex;
    width: 95%;
    justify-content: end;
}

.categoryItem {
    margin: 5px 0; 
    cursor: pointer;
    transition: color 0.3s ease;
    color: #333; 
    font-size: 14px;
    font-weight: bold;
}

.categoryItem:hover {
    color: #00000079; 
}

.active {
    color: black; 
    font-weight: bolder; 
}
.mainContent {    
    flex-grow: 1; 
    padding: 20px; 
}
.categoryButtons {
    display: flex;
    flex-direction: column;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0;
  }
  .pageButton {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  .pageButton:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: not-allowed;
  }
  
  .pageButton:hover:not(:disabled) {
    background-color: #007bff;
    color: #fff;
  }
  .dots {
    margin: 0 5px;
    color: #007bff;
    font-weight: bold;
  }
  .cartMenu {
    position: absolute;
    right:290px;
    top: 100px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 300px; 
    z-index: 1000;
    transition: all 0.3s ease; 
  }

  .cartMenu h3 {
    margin: 0 0 10px;
    font-size: 20px; 
    color: #333; 
  }

  .cartMenu p {
    margin: 0; 
    color: #666; 
  }

  .cartMenu .item {
    display: flex; 
    justify-content: space-between;
    padding: 5px 0; 
    border-bottom: 1px solid #eee; 
  }

  .cartMenu .item:last-child {
    border-bottom: none;
  }

  .closeButton {
    background-color: #ff4d4d; 
    color: white;
    border: none;
    border-radius: 4px; 
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 13px; 
    transition: background-color 0.3s ease; 
  }

  .closeButton:hover {
    background-color: #e60000; 
  }

  .goCart{
    background-color: #666;
    color:white;
    border:none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-left: 55px;
    font-size: 13px;
    transition: background-color 0.3s ease; 
  }

  .goCart:hover {
    background-color: #a79595ce; 
  }

@media screen and (max-width: 709px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        width: 320px;
        padding: 4px 20px;
        margin-top: 10px;
        margin-left: 130px;
    }
    .item {
        width: 60%;
        margin-top: 20px;
        height: 320px;
    }

    .actionsContainer {
        top: 4px;
        right: 74px;
        position: relative;
        z-index: 10;
    }

    .actionsContainer {
        width: 20%;
    }

    .list {
        flex-direction: column;
        align-items: center;
    }

    .additional {
        left: 70px;
    }
    .cartIcon{
        font-size: 30px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
}


@media screen and (max-width: 690px) {
    .sidebar{
        width: 339px;
        margin-left:79px;
    }
    .actionsContainer{
        right: 58px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 320px; 
        width: 340px;
    }
    .additional{
        left:90px;
        width: 50%;
    }
    .cartIcon{
        font-size: 30px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {
    .sidebar{
        width: 339px;
        margin-left:79px;
    }
    .actionsContainer{
        right: 58px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 320px; 
        width: 340px;
    }
    .additional{
        left:90px;
        width: 50%;
    }
    .cartIcon{
        font-size: 30px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}

@media screen and (max-width: 614px) {
    .sidebar{
        width: 339px;
        margin-left:69px;
    }
    .actionsContainer{
        right: 36px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 320px; 
        width: 340px;
    }
    .additional{
        left:90px;
        width: 50%;
    }
    .cartIcon{
        font-size: 30px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}

@media screen and (max-width: 554px) {
    .sidebar{
        width: 339px;
        margin-left:44px;
    }
    .actionsContainer{
        right: 15px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 320px; 
        width: 340px;
    }
    .additional{
        left:90px;
        width: 50%;
    }
    .cartIcon{
        font-size: 30px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}
@media screen and (max-width: 512px) {
    .sidebar{
        width: 339px;
        margin-left:26px;
    }
    .actionsContainer{
        right: 1px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 320px; 
        width: 340px;
    }
    .additional{
        left:90px;
        width: 50%;
    }
    .cartIcon{
        font-size: 30px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}

@media screen and (max-width: 452px) {
    .sidebar{
        width: 339px;
        margin-left:1px;
    }
    .actionsContainer{
        left: 20px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 320px; 
        width: 340px;
    }
    .additional{
        left:70px;
        width: 50%;
    }
    .cartIcon{
        font-size: 30px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}



@media screen and (max-width: 409px) {
    .sidebar{
        width: 319px;
        margin-left:1px;
    }
    .actionsContainer{
        left: 20px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 320px; 
        width: 320px;
    }
    .additional{
        left:50px;
        width: 50%;
    }
    .cartIcon{
        font-size: 30px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:245px;
    }
    .outOfStock{
        font-size: 15px;
        top:245px;
    }
    .date{
        font-size: 13px;
        top:279px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}

@media screen and (max-width: 345px) {
    .sidebar{
        width: 270px;
        margin-left:1px;
    }
    .actionsContainer{
        left: 19px;
        width: 100px;
    }
    .item{
        margin-left: -21px;
        height: 340px; 
        width: 270px;
    }
    .additional{
        left:12px;
        width: 50%;
    }
    .cartIcon{
        font-size: 26px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:260px;
    }
    .outOfStock{
        font-size: 15px;
        top:260px;
    }
    .date{
        font-size: 13px;
        top:290px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}


@media (max-width: 320px) {
    .sidebar{
        width: 250px;
        margin-left:1px;
    }
    .actionsContainer{
        left: 19px;
        width: 100px;
    }

    .item{
        margin-left: -21px;
        height: 340px; 
        width: 250px;
    }
    .additional{
        left:1px;
        width: 50%;
    }
    .cartIcon{
        font-size: 26px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:260px;
    }
    .outOfStock{
        font-size: 15px;
        top:260px;
    }
    .date{
        font-size: 13px;
        top:290px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}


@media (max-width: 286px) {
    .sidebar{
        width: 250px;
        margin-left:-10px;
    }
    .actionsContainer{
        left: 29px;
        width: 100px;
    }
    .item{
        margin-left: -31px;
        height: 340px; 
        width: 250px;
    }
    .additional{
        left:1px;
        width: 50%;
    }
    .cartIcon{
        font-size: 26px;
    }
    .price{
        font-size: 18px;
    }
    .name{
        font-size: 15px;
    }
    .serialnumber{
        font-size: 10px;
    }
    .inStock{
        font-size: 15px;
        top:260px;
    }
    .outOfStock{
        font-size: 15px;
        top:260px;
    }
    .date{
        font-size: 13px;
        top:290px;
    }
    .newLabel{
        font-size: 10px;
    }
    .categoryItem{
        font-size: 10px;
    }
    .dropdownButton{
        font-size: 15px;
    }
}
